header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    /* posicao pai */
    width: 940px;
    margin: 0 auto;
    /* as configuracoes sao em ordem horaria: cima direita baixo esquerda */
}

nav {
    position: absolute;
    /* posicao absoluta em relacao ao pai */
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    /* Quando somente dois valores sao: topo,baixo laterais */
    padding: 30px 20px;
    box-sizing: border-box;
    /* faz com que a caixa tenha um valor absoluto, assim o padding nao deforma a caixa */
    /*border-width: 2px;
    border-style: solid;
    border-color: #000000;*/
    border: 2px solid #000000;
    /* pode aplicar os 3 valores: width, style e color direto na propriedade border*/
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    /* quando mouse e clicado*/
    border-color: #088C19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}